.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: white;
}
.wrapperPizza{
    width: 25%;
    text-align: center;
    margin-top: 30px;
    margin-left: 3px;
}
.photo{
    border-radius: 10px;
}
.price{
    font-size: 20px;
    color: red;
}
.order{
    display: inline-block; 
    text-align: center;
    cursor: pointer;
    font-family: "Comfortaa";
    border: 1px solid #c80000;
    padding: 16px 41px 14px;
    font-size: 15px;
    line-height: 16px;
    color: #fefefe;
    background: #c80000;
    border-radius: 22px;
    padding: 6px 16px 6px;
}
.order a{
    text-decoration: none;
    color: white;
}
.symbol{
    color: tomato;
    cursor: pointer;
}
.countInput{
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: 500;
    font-family: "Roboto";
    border: 1px solid #eaeaea;
    border-radius: 0;
    background: none;
    outline: none;
    margin: 0 10px;
    color: inherit;
    font: inherit;
}
.buy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 25px;
    border-top: 1px solid grey;
    padding-top: 15px;
}
.count{
    display: flex;
    align-items: center;
}