.wrapper{
    text-align: center;
}
.wrapperButton{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px 0;
}
.wrapperButton a{
    width: 100%;
    margin-top: 10px;
}
.butCalc{
    width: 100%;
    border-radius: 20px;
    border: none;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 27px;
    font-family: 'Balsamiq Sans', cursive;
    transition: .5s;
}
.butCalc:hover{
    background-color: gray;
}