
.wrapperBut{
    background: rgba($color: #ffffff, $alpha: 0.6);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.bT{
    margin-right: 30px;
}
.bC,.bT{
    border-radius: 20px;
    border: none;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 27px;
    font-family: 'Balsamiq Sans', cursive;
    transition: .5s;
}
.bT:hover{
    background-color: gray;
}
.bC:hover{
    background-color: gray;
}